@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000; /* Default text color to black */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #000000; /* Keep text color black in dark mode */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.reactangle {
  position:relative;
  top: 3;
  right: 3;
}
.circle {
  width: 100px;      /* Set the width of the circle */
  height: 100px;     /* Set the height of the circle (same as width) */
  /* Font size */
  position: absolute;
  top: 4px;
  left: 3px;
  border-radius: 50%;
}
